.firstStep_form {
  width: 100%;
  padding: 20px;
}
.form__group {
  position: relative;
}

.form__group > input {
  width: 46%;
  height: 40px;
  background: transparent;
  font-weight: 400;
  font-family: sans-serif;
  font-size: large;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 0px 10px 40px 10px;
}
div.form__group > select {
  width: 97%;
  height: 40px;
  background: #ffffff;
  font-weight: 400;
  font-family: sans-serif;
  font-size: large;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 0px 10px 40px 10px;
}

span.form__group > label {
  position: absolute;
  left: 25px;
  top: -20px;
  background: #ffffff;
  color: #0d132d;
  font-size: small;
}
div.form__group > label {
  position: absolute;
  left: 25px;
  top: -10px;
  background: #ffffff;
  color: #0d132d;
  font-size: small;
}
.firstStep_form > button {
  margin: 0px 20px 0px 20px;
  width: 95%;
  height: 40px;
  background-color: #0f53fb;
  border-radius: 3px;
  color: #ffffff;
  border: none;
}
