.OTP_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 0px 40px;
}
.digit-group {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-bottom: 40px;
}
.digits {
  width: 40px;
  height: 40px;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: large;
  text-align: center;
}
.OTP_section > small {
  color: #0f53fb;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 30px;
}
.btn_verifyOTP {
  width: 50%;
  height: 40px;
  background: #0f53fb;
  color: white;
  border: none;
  border-radius: 3px;
}
